/* Universal styling to zero everything out */
/* *{
    margin : 0;
    padding : 0;
} */

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

/* a:visited{
    color: yellow;
} */

.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.button:hover{
    background: red;
    color: #fff;
}

.clearfix{
    clear: both;
}

h1{
    /* color: #333; */
    font-family: Arial, sans-serif;
    font-size: 2em;
}

body{
    background-color: #f4f4f4;
    /* color: #ffffff; */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
}

.container{
    /* use percent for responsiveness */
    width: 80%;
    margin: auto;
    padding: 20px;
    
}

.box-1{
    background-color: #333;
    color: #fff;
    /* border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid; */
    border: 5px solid red;
    border-width: 3px;
    border-top-style:dotted;
    padding: 20px;
    margin: 20px auto;
}

.box-1 h1{
    color: #fff;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted #CCC;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    list-style: square;
    list-style: none;

}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #ccc;
    list-style-image: url('..check.png');
}

.my-form{
    padding: 20px;
}

.my-form.form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.my-form input[type="submit"], .my-form button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in width */
}

#main-block{
    float:left;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width */
}

#sidebar{
    float:right;
    width: 30%;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width */
}